body{
    background-color:lightgoldenrodyellow;
}
input {
    width:280px;
    height:30px;
    border-radius:20px;
    background-color: lightgoldenrodyellow;
    color:blue;
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    
}
label{
    color:blue;
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 900;
}
button{
    background-color:rgb(105, 22, 11);
    width:180px;
    height:40px;
    color:white;
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
